node_modules
.DS_Store
dist
dist-ssr
*.local
count.txt
.env
.nitro
.tanstack
.wrangler
.output
.vinxi
todos.json
ngrok.yml
# /src/services/models
# /src/services/endpoints

.idea

# Generate Prisma Client
src/generated/
